<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='description' content="This is an awesome website">
        <title>Murali's website</title>
    </head>
    <body>
        <!-- <h1>Murali's website</h1>
        <br/>
        <hr/>
        <p><big>This </big> is my <b>paragraph</b></p>
        <p>This is my <em>second</em> <small>paragraph</small></p>
        <p>10<sup>2</sup>=100</p> -->
        <a href="whttps://ww.google.com">Link to Google</a>
        <img src="https://cdn.pixabay.com/photo/2015/03/26/09/41/chain-690088_960_720.jpg" alt="No image" width="960" height="539">
        <video src="" poster="" autoplay loop controls width="300">Tut.mp4</video>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pQN-pnXPaVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div></div>
        <span></span>
        <ul>
            <li></li>
        </ul>
        <ol type="1">
            <li></li>
        </ol>
        <table>
            <thead>
                <caption>Table title</caption>
                    <tr>
                        <th>one</th>
                        <th>two</th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">one</td>
                    <td>two</td>
                </tr>
            </tbody>            
        </table>
        
        <header>
            <nav>
                
            </nav>
        </header>
        <main>
            <article>
                <section>
                    This is my article
                </section>
                <section>
                    This is my second article
                </section>
                <section>
                    <aside>
                        for ads
                    </aside>
                </section>
            </article>
        </main>
        <footer>

        </footer>
        <form action="" method="POST">

            <div>
                <label for="name">NAME</label>
                <input type="text" id='name' name='Name' required placeholder="Name">
            </div>
            <div>
                <label for="password">PASSWORD</label>
                <input type='password' id='password' name='Password' required>
            </div>
            <div>
                <label for="email">EMAIL</label>
                <input type="email" placeholder="EmAil" id='email' name='Email' required>
            </div>
            <div>
                <label for="dob">DOB</label>
                <input type="date" placeholder="dd/mm/yyyy" id='dob' name='Date'>
            </div>
            <div>
                <label for="no">NUMBER</label>
                <input type="number" placeholder="favno" id='no' name='number' min=5 max="10">
            </div>
            <div>
                <input type="checkbox" name=>
            </div>
            <div>
                <input type="submit">
                <input type="reset">
            </div>

        </form>
    </body>
</html>